/.DS_Store
/20221006_1441_1452_tracmo_office.csv
/20221006_1516_1527_tracmo_office.csv
/20221006_1559_1610_tracmo_office.csv
/New_firmeare.ipynb
/New_firmeare_model
/config.yaml
/evaluate_region_fillna.csv
/test.json
/test_region_fillna.csv
/training_region_fillna.csv